/* styles/styles.css */

/* Basic style for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  background-image: url('foto/Afon.jpg'); 
  background-size: cover; /* This will cause the image to cover the entire screen */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* So that the image is not repeated */
  opacity: 0; /* hide body site */
  transition: opacity 2s ease-in-out; 
}

body.loaded {
  opacity: 1; /* body on */
}

/* Container for two parts of the page */
.container {
  display: flex;
  flex: 1; 
  width: 100%;
}

/* Style for console (left column) */
.console {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 50%; 
  margin: 14px;
}

.console-output {
  flex: 0 1 70%; 
  background-color: #000;
  border: 1px solid #00ff00;
  border-bottom: none;
  color: #00ff00;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow-y: auto;
  width: 97%;
}

.console-input {
  width: 98%;
  padding: 12px;
  background-color: #000000;
  color: #00ff00;
  border: none;
  font-family: "Courier New", Courier, monospace;
  caret-color: #00ff00;
  outline: none;
  font-size: 16px; 
  display: flex;
}

/* Style for the interactive part (right column) */
.interactive-content {
  width: 50%; 
  height: 97%;
  padding: 10px;
  background-color: #d9d2b6ed; 
  /*background-image: url('foto/3028.jpg'); /* Path to your image */
  /*background-size: cover; /* This will cause the image to cover the entire screen */
  /*background-position: center; /* center the image */
  color: #0A1172;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
  position: relative; 
  overflow: hidden; 

}
.pdf-section {
  width: 100%; /* PDF block width */
  height: 100%; /* Height stretches to cover entire container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Styles for the section with available commands */
.help-section {
  width: 95%;
  background-color: #222222d5;
  padding: 18px;
  border-top: 1px solid #00ff00;
  color: #fff;
  text-align: left;
  margin-top: auto; 
}

.help-section h3 {
  margin-bottom: 10px;
}

.help-section ul {
  padding-left: 10px;
  column-count: 2; /* Split into two columns */
  column-gap: 60px; /* Indentation between columns */
}
.command-link {
  text-decoration: none; 
  color: #00ff00; 
  font-weight: bold; 
  transition: all 0.3s ease; 
  animation: flicker 0.1s infinite; 
}
/* Flickering effect for commands */
@keyframes flicker {
  0% {
    color: #00ff00; 
  }
  50% {
    color: #ffffff; 
  }
  100% {
    color: #00ff00; 
  }
}

.console-input {
  padding: 8px;
  font-size: 12px;  
  height: auto;
  border-radius: 0;
} 
  
.console-output {
  height: auto;
}

.command-link:hover {
  color: #ff4500; 
  font-size: 18px; 
}

.help-section li {
  margin-bottom: 8px;
}



/* Container for the button */
.menu-container {
  position: relative; 
  display: inline-block;
  margin: 3px;
}

/* button */
.menu-button {
  background-color: #333333a4;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 40px;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  border: 1px solid #259c00;
}

.menu-button:hover {
  background-color: #f8f8f89c;
  transform: scale(1.1);
}

/* Menu */
.menu {
  position: absolute; 
  top: 0%; 
  left: 20%;
  background-color: #1e1d1d;
  color: rgb(253, 253, 253);
  border: 1px solid #259c00;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* hidden Menu */
.menu.hidden {
  display: none;
}

/* Styles for the menu list */
.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 0 10px; 
  display: flex;
  align-items: center; 
}

/* Icon for links in menu */
.menu ul li i {
  margin-right: 5px; 
  font-size: 20px; 
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  color: #ffd500;
  background-color: #111;
  padding: 10px;
  margin-top: auto; /* Pushes the footer down */
}
/* Adaptive for medium screens (up to 768px) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .console {
    width: 100%; /* Increase console width for mobile */
  }

  .interactive-content {
    width: 90%;
    height: auto;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .console-input {
    padding: 8px;
    font-size: 12px;
    height: auto;
    border-radius: 0;
  } 
  
  .console-output {
    height: auto;
  }

  iframe {
    width: auto; 
    height: auto; 
    border: none; 
  }
}

/* Adaptability for small screens (up to 480px) */
@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 0;
  }

  .console-input {
    padding: 8px;
    font-size: 12px;
    height: auto;
    border-radius: 0;
  }
  
  .console-output {
    height: auto;
  }

  .interactive-content {
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }

  .help-section {
    font-size: 12px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  footer {
    font-size: 12px;
  }
}
